<div class="container text-center">
    <h1>SEO Keywords</h1>
    <h2>Est-ce que vos efforts SEO ont un véritable ROI ? </h2>
    
    <p>
        <%= link_to "Tous les mots clefs", keywords_path,class: "btn btn-primary" %>
    </p>
    
</div>
